[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
jinja2 = "*"
dictor = "*"
jmespath = "*"
pytest = "*"
jsonpickle = "*"
related = "*"
structlog = "*"
allure-pytest = "*"
redis = "*"
xlrd = "*"
ontology-python-sdk = {path = "./ontology-python-sdk"}
records = "*"
pymysql = "*"
swagger-spec-validator = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
